<%= form_for(@education_record) do |f| %>
  <% if @education_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education_record.errors.count, "error") %> prohibited this education_record from being saved:</h2>

      <ul>
      <% @education_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :degree_name %><br />
    <%= f.text_field :degree_name %>
  </div>
  <div class="field">
    <%= f.label :degree_short_name %><br />
    <%= f.text_field :degree_short_name %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :is_current %><br />
    <%= f.check_box :is_current %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
