<h1>Listing descriptions</h1>

<table>
  <tr>
    <th>Description short</th>
    <th>Description long</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @descriptions.each do |description| %>
  <tr>
    <td><%= description.description_short %></td>
    <td><%= description.description_long %></td>
    <td><%= link_to 'Show', description %></td>
    <td><%= link_to 'Edit', edit_description_path(description) %></td>
    <td><%= link_to 'Destroy', description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Description', new_description_path %>
