<%= form_for(@records_location) do |f| %>
  <% if @records_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@records_location.errors.count, "error") %> prohibited this records_location from being saved:</h2>

      <ul>
      <% @records_location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :record_id %><br />
    <%= f.number_field :record_id %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.number_field :location_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
