<h1>Listing records<span class="title_separator_light">:</span></h1>

<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>Job title</th>
    <th>Company</th>
    <th>Industry</th>
    <th>Link</th>
    <th>Is current?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @records.each do |record| %>
  <tr>
    <td><%= record.start_date %></td>
    <td><%= record.end_date %></td>
    <td><%= record.job_title %></td>
    <td><%= record.company_id %></td>
    <td><%= record.industry_id %></td>
    <td><%= record.link %></td>
    <td><%= record.is_current %></td>
    <td><%= link_to 'Show', record %></td>
    <td><%= link_to 'Edit', edit_record_path(record) %></td>
    <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <tr>
		<td>Skills: <%= raw record.skill_list.map { |t| link_to t, skill_path(t) }.join(', ') %></td>
	</tr>
<% end %>
</table>

<br />
<div class="tag_cloud">
  <% tag_cloud Record.skill_counts.order('name ASC'), %w{s m l} do |skill, css_class| %>
  	<%= link_to skill.name, skill_path(skill.name), class: css_class %>
	<% end %>
</div>
<br />

<%= link_to 'New Record', new_record_path %>
