
<div id="carousel-container">

	<!-- /.carousel -->	
	
	<div id="myCarousel" class="carousel slide">
	  
	  <%= link_to "close lifestory...".html_safe, "#", :class => "close_presentation" %>
		
		<div id="arrows_narrow" class="carousel-controls-narrow">
			<%= link_to "‹".html_safe, "#myCarousel", :class => "left carousel-control btn-l btn-l2 pres-ctrl-narrow", "data-slide" => "prev" %>			
			<%= link_to "›".html_safe, "#myCarousel", :class => "right carousel-control btn-r pres-ctrl-narrow", "data-slide" => "next" %>
		</div>
		
	  <div class="carousel-inner">

<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 0,
							:title				=>	"<span class='title_light'>June 7th</span><span class='slide_title_separator'>,</span>1978".html_safe,
							:picture			=>	%{<img src='/assets/alba1.jpg' alt='' class='slide_pic' id='slide_pic_01' />}.html_safe,
							:description  =>	%{<p class='lead slide_item'>Prince2 certified IT Project Manager / Business Analyst with proven track record of delivery in international technology transformation programmes in investment, commercial and retail banking. Previous technology startup experience. <abbr title='Master of Business Administration'>MBA</abbr> and MSc in IT Management degrees.</p>
<p class='lead slide_item'>Some message here...</p>}.html_safe
						} %>

<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 1,
							:title				=>	"<span class='title_light'>Sep 15th</span><span class='slide_title_separator'>,</span> 1994".html_safe,
							:picture			=>	%{<img src='/assets/hcc.jpg' alt='' class='slide_pic' id='slide_pic_1' />}.html_safe,
							:description  =>	%{<p class='lead slide_item'>Prince2 certified IT Project Manager / Business Analyst with proven track record of delivery in international technology transformation programmes in investment, commercial and retail banking. Previous technology startup experience. <abbr title='Master of Business Administration'>MBA</abbr> and MSc in IT Management degrees.</p>}.html_safe
						} %>

<%= render :partial => "carousel_slide", 
						:locals => {
							:position => 2,
							:title				=>	"<span class='title_light'>Oct 1st</span><span class='slide_title_separator'>,</span> 1998".html_safe,
							:picture			=>	"<img src='/assets/ase.png' alt='' class='slide_pic' id='slide_pic_2' />".html_safe,
							:description  =>	%{<p class='lead slide_item'>Prince2 certified IT Project Manager / Business Analyst with proven track record of delivery in international technology transformation programmes in investment, commercial and retail banking. Previous technology startup experience. <abbr title='Master of Business Administration'>MBA</abbr> and MSc in IT Management degrees.</p>}.html_safe
						} %>
            
<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 3,
							:title				=>	"<span class='title_light'>Jan 10th</span><span class='slide_title_separator'>,</span> 2003".html_safe,
							:picture			=>	"<img src='/assets/bcr.jpg' alt='' class='slide_pic' id='slide_pic_3' />".html_safe,
							:description  =>	%{<p class='lead slide_item'>Prince2 certified IT Project Manager / Business Analyst with proven track record of delivery in international technology transformation programmes in investment, commercial and retail banking. Previous technology startup experience. <abbr title='Master of Business Administration'>MBA</abbr> and MSc in IT Management degrees.</p>
<p class='lead slide_item'>Some message here...</p>}.html_safe
						} %>

<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 4,
							:title				=>	"<span class='title_light'>Jan 11th</span><span class='slide_title_separator'>,</span> 2005".html_safe,
							:picture			=>	"<img src='/assets/budapest.jpg' alt='' class='slide_pic' id='slide_pic_4' />".html_safe,
							:description  =>	%{<p class='lead slide_item'>Prince2 certified IT Project Manager / Business Analyst with proven track record of delivery in international technology transformation programmes in investment, commercial and retail banking. Previous technology startup experience. <abbr title='Master of Business Administration'>MBA</abbr> and MSc in IT Management degrees.</p>
<p class='lead slide_item'>Some message here...</p>}.html_safe
						} %>

<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 5,
							:title				=>	"<span class='title_light'>Feb 6th</span><span class='slide_title_separator'>,</span> 2006".html_safe,
							:picture			=>	"<img src='/assets/hult.jpg' alt='' class='slide_pic' id='slide_pic_5' />".html_safe,
							:description  =>	%{<p class='lead slide_item'>Prince2 certified IT Project Manager / Business Analyst with proven track record of delivery in international technology transformation programmes in investment, commercial and retail banking. Previous technology startup experience. <abbr title='Master of Business Administration'>MBA</abbr> and MSc in IT Management degrees.</p>
<p class='lead slide_item'>Some message here...</p>}.html_safe
						} %>

<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 6,
							:title				=>	"<span class='title_light'>Oct 1st</span><span class='slide_title_separator'>,</span> 2006".html_safe,
							:picture			=>	"".html_safe,
							:description  =>	%{<p class='lead slide_item'>Prince2 certified IT Project Manager / Business Analyst with proven track record of delivery in international technology transformation programmes in investment, commercial and retail banking. Previous technology startup experience. <abbr title='Master of Business Administration'>MBA</abbr> and MSc in IT Management degrees.</p>
<p class='lead slide_item'>Some message here...</p>}.html_safe
						} %>

<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 7,
							:title				=>	"<span class='title_light'>May 1st</span><span class='slide_title_separator'>,</span> 2007".html_safe,
							:picture			=>	"".html_safe,
							:description  =>	%{<p class='lead slide_item'>Prince2 certified IT Project Manager / Business Analyst with proven track record of delivery in international technology transformation programmes in investment, commercial and retail banking. Previous technology startup experience. <abbr title='Master of Business Administration'>MBA</abbr> and MSc in IT Management degrees.</p>
<p class='lead slide_item'>Some message here...</p>}.html_safe
						} %>
            
<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 8,
							:title				=>	"<span class='title_light'>Jul 1st</span><span class='slide_title_separator'>,</span> 2008".html_safe,
							:picture			=>	"<img src='/assets/kbc.png' alt='' class='slide_pic' id='slide_pic_8' />".html_safe,
							:description  =>	%{<p class='lead slide_item'>Prince2 certified IT Project Manager / Business Analyst with proven track record of delivery in international technology transformation programmes in investment, commercial and retail banking. Previous technology startup experience. <abbr title='Master of Business Administration'>MBA</abbr> and MSc in IT Management degrees.</p>
<p class='lead slide_item'>Some message here...</p>}.html_safe
						} %>
            
<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 9,
							:title				=>	"<span class='title_light'>Apr 22nd</span><span class='slide_title_separator'>,</span> 2010".html_safe,
							:picture			=>	"<img src='/assets/kbcfp.jpg' alt='' class='slide_pic' id='slide_pic_9' />".html_safe,
							:description  =>	%{<p class='lead slide_item'>Prince2 certified IT Project Manager / Business Analyst with proven track record of delivery in international technology transformation programmes in investment, commercial and retail banking. Previous technology startup experience. <abbr title='Master of Business Administration'>MBA</abbr> and MSc in IT Management degrees.</p>
<p class='lead slide_item'>Some message here...</p>}.html_safe
						} %>
            
<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 10,
							:title				=>	"Now<span class='slide_title_separator'>...</span>".html_safe,
							:picture			=>	"<img src='/assets/alba1.jpg' alt='' class='slide_pic' id='slide_pic_01_small' /><img src='/assets/hcc.jpg' alt='' class='slide_pic' id='slide_pic_1_small' /><img src='/assets/ase.png' alt='' class='slide_pic' id='slide_pic_2_small' /><img src='/assets/bcr.jpg' alt='' class='slide_pic' id='slide_pic_3_small' /><img src='/assets/budapest.jpg' alt='' class='slide_pic' id='slide_pic_4_small' /><img src='/assets/hult.jpg' alt='' class='slide_pic' id='slide_pic_5_small' /><img src='/assets/kbc.png' alt='' class='slide_pic' id='slide_pic_8_small' /><img src='/assets/kbcfp.jpg' alt='' class='slide_pic' id='slide_pic_9_small' />".html_safe,
							:description  =>	%{<p class='lead slide_item'>Prince2 certified IT Project Manager / Business Analyst with proven track record of delivery in international technology transformation programmes in investment, commercial and retail banking. Previous technology startup experience. <abbr title='Master of Business Administration'>MBA</abbr> and MSc in IT Management degrees.</p>
<p class='lead slide_item'>Some message here...</p>}.html_safe
						} %>

	  </div>
	  		
		<%= link_to "‹".html_safe, "#myCarousel", :id => "left_arrow_wide", :class => "left carousel-control btn-l2 pres-ctrl", "data-slide" => "prev" %>			
		<%= link_to "›".html_safe, "#myCarousel", :id => "right_arrow_wide", :class => "right carousel-control btn-r pres-ctrl", "data-slide" => "next" %>
		  		  
	</div>
	<!--  Carousel - consult the Twitter Bootstrap docs at
	      http://twitter.github.com/bootstrap/javascript.html#carousel -->

</div>