
<div id="carousel-container">

	<!-- /.carousel -->	
	
	<div id="myCarousel" class="carousel slide">
	  
	  <%= link_to "close lifestory...".html_safe, "#", :class => "close_slideshow" %>
		
		<div id="arrows_narrow" class="carousel-controls-narrow">
			<%= link_to "‹".html_safe, "#myCarousel", :class => "left carousel-control btn-l btn-l2 pres-ctrl-narrow", "data-slide" => "prev" %>			
			<%= link_to "›".html_safe, "#myCarousel", :class => "right carousel-control btn-r pres-ctrl-narrow", "data-slide" => "next" %>
		</div>
		
	  <div class="carousel-inner">

<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 0,
							:title				=>	"<span class='title_light'>June 7th</span><span class='slide_title_separator'>,</span>1978<span class='slide_title_separator'>...</span>".html_safe,
							:picture			=>	%{<img src='/assets/alba2.jpg' alt='' class='slide_pic' id='slide_pic_0' />}.html_safe,
							:description  =>	%{<p class='lead slide_item'>...Alin is born in <a href="http://en.wikipedia.org/wiki/Alba_Iulia" target="blank">Alba Iulia</a>, a historic town in <a href="http://en.wikipedia.org/wiki/Transylvania" target="blank">Transylvania</a>, <a href="http://en.wikipedia.org/wiki/Romania" target="blank">Romania</a>, the ancient capital of the Roman province of <a href="http://en.wikipedia.org/wiki/Roman_Dacia" target="blank">Dacia Apulensis</a> and seat of the <a href="http://en.wikipedia.org/wiki/Legio_XIII_Gemina" target="blank">Legio XIII Gemina</a> (the legion with which <a href="http://en.wikipedia.org/wiki/Julius_Caesar" target="blank">Julius Caesar</a> had crossed the <a href="http://en.wikipedia.org/wiki/Rubicon" target="blank">Rubicon</a>). The town also hosts Europe's best preserved baroque fortress built between 1716-1735 using a <a href="http://en.wikipedia.org/wiki/Menno_van_Coehoorn" target="blank">Menno van Coehoorn</a> inspired-layout (southeastern side shown above).</p>
<p class='lead slide_item'>Alin spends his childhood here and has his first encounter with technology when his father buys him an <a href="http://www.old-computers.com/museum/computer.asp?c=629" target="blank">HC-85</a> (a Romania-built <a href="http://en.wikipedia.org/wiki/ZX_Spectrum" target="blank">Sinclair ZX Spectrum</a> compatible computer on which Alin becomes addicted to <a href="http://en.wikipedia.org/wiki/Jetpac" target="blank">JetPac</a>).</p>}.html_safe
						} %>

<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 1,
							:title				=>	"<span class='title_light'>Jun 15th</span><span class='slide_title_separator'>,</span> 1997<span class='slide_title_separator'>...</span>".html_safe,
							:picture			=>	%{<img src='/assets/hcc.jpg' alt='' class='slide_pic' id='slide_pic_1' />}.html_safe,
							:description  =>	%{<p class='lead slide_item'>...Alin graduates from the <a href="http://www.hcc.ro" target="blank">Horea, Closca si Crisan</a> college (pictured above at its establishment in 1919), with a specialization in <a href="http://en.wikipedia.org/wiki/Physics" target="blank">Physics</a> and <a href="http://en.wikipedia.org/wiki/Mathematics" target="blank">Mathematics</a>.</p>
<p class='lead slide_item'>As of 1997, his internet usage is still limited as while the web is booming in other parts of the world, it is still a marginal development in Romania and will remain so until 1999 (when a significant drop in dial-up connection fees will open the web to Romanian internet users).</p>}.html_safe
						} %>

<%= render :partial => "carousel_slide", 
						:locals => {
							:position => 2,
							:title				=>	"<span class='title_light'>Oct 1st</span><span class='slide_title_separator'>,</span> 2002<span class='slide_title_separator'>...</span>".html_safe,
							:picture			=>	"<img src='/assets/ase.jpg' alt='' class='slide_pic' id='slide_pic_2' />".html_safe,
							:description  =>	%{<p class='lead slide_item'>...Alin obtains his undergraduate university degree from the <a href="http://www.ase.ro" target="blank">Academy of Economic Studies</a> in <a href="http://en.wikipedia.org/wiki/Bucharest" target="blank">Bucharest</a>, <a href="http://en.wikipedia.org/wiki/Romania" target="blank">Romania</a> (main building pictured above) with a <a href="http://en.wikipedia.org/wiki/Academic_major" target="blank">major</a> in <a href="http://en.wikipedia.org/wiki/Bank" target="blank">banking</a> and <a href="http://en.wikipedia.org/wiki/Capital_market" target="blank">capital markets</a>.</p>
<p class='lead slide_item'>Together with a former university colleague, he starts researching the use of <a href="http://en.wikipedia.org/wiki/Artificial_intelligence" target="blank">artificial intelligence</a> for predicting currency exchange rates and launches an online project tracking their predictions. While ultimately unsuccesful, the project kick-starts Alin's interest in <a href="http://en.wikipedia.org/wiki/Web_development" target="blank">web development</a> and <a href="http://en.wikipedia.org/wiki/Entrepreneurship" target="blank">entrepreneurship</a> and leads to him creating his own web development company focused first on <a href="http://en.wikipedia.org/wiki/PHP" target="blank">PHP</a> and later on <a href="http://rubyonrails.org" target="blank">Ruby on Rails</a> web applications.</p>}.html_safe
						} %>

<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 3,
							:title				=>	"<span class='title_light'>Jan 11th</span><span class='slide_title_separator'>,</span> 2005<span class='slide_title_separator'>...</span>".html_safe,
							:picture			=>	"<img src='/assets/budapest.jpg' alt='' class='slide_pic' id='slide_pic_4' />".html_safe,
							:description  =>	%{<p class='lead slide_item'>...Alin has his first living-abroad experience when he starts studying for a <a href="http://en.wikipedia.org/wiki/Master_of_ScienceMaster" target="blank">Master of Science</a> in <a href="http://en.wikipedia.org/wiki/Information_technology" target="blank">Information Technology</a> <a href="http://en.wikipedia.org/wiki/Management" target="blank">Management</a> degree at the <a href="http://www.ceu.hu" target="blank">Central European University</a> in <a href="http://en.wikipedia.org/wiki/Budapest" target="blank">Budapest</a>, <a href="http://en.wikipedia.org/wiki/Hungary" target="blank">Hungary</a>.</p>
<p class='lead slide_item'>While in Budapest, he continues running his web development company part-time (at the time mainly focusing on <a href="http://en.wikipedia.org/wiki/PHP" target="blank">PHP</a>) and does internships in two Hungary-based <a href="http://en.wikipedia.org/wiki/Startup_company" target="blank">technology startups</a>, a <a href="http://en.wikipedia.org/wiki/Voice_over_IP" target="blank">VoIP</a> company and an <a href="http://en.wikipedia.org/wiki/Information_security" target="blank">information security</a> one. He is also involved in the drafting of a business plan for an <a href="http://en.wikipedia.org/wiki/Mobile_marketing" target="blank">SMS-marketing</a> concept (smswow!) but the plan is abandoned when the founding team spreads out to the four corners of the world upon graduation from the Masters degree.</p>}.html_safe
						} %>

<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 4,
							:title				=>	"<span class='title_light'>Feb 6th</span><span class='slide_title_separator'>,</span> 2006<span class='slide_title_separator'>...</span>".html_safe,
							:picture			=>	"<img src='/assets/hult.jpg' alt='' class='slide_pic' id='slide_pic_5' />".html_safe,
							:description  =>	%{<p class='lead slide_item'>...Alin is awarded a scholarship for pursuing an <a href="http://en.wikipedia.org/wiki/Master_of_Business_Administration" target="blank">MBA</a> at <a href="http://www.hult.edu" target="blank">Hult International Business School</a> and moves from <a href="http://en.wikipedia.org/wiki/Budapest" target="blank">Budapest</a> to <a href="http://en.wikipedia.org/wiki/Boston" target="blank">Boston</a>, <a href="http://en.wikipedia.org/wiki/Massachusetts" target="blank">MA</a>, <a href="http://en.wikipedia.org/wiki/United_States" target="blank">USA</a>. He continues doing web development in spite of the heavy academic load  at <a href="http://www.hult.edu" target="blank">Hult</a> and starts learning <a href="http://www.ruby-lang.org/en/" target="blank">Ruby</a> and <a href="http://rubyonrails.org" target="blank">Rails</a> which he finds, in two words, <a href="http://en.wikipedia.org/wiki/Very" target="blank">very</a> <a href="http://en.wikipedia.org/wiki/Cool_(aesthetic)" target="blank">cool</a>.</p>}.html_safe
						} %>

<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 5,
							:title				=>	"<span class='title_light'>Oct 1st</span><span class='slide_title_separator'>,</span> 2006<span class='slide_title_separator'>...</span>".html_safe,
							:picture			=>	"<img src='/assets/zap.png' alt='' class='slide_pic' id='slide_pic_6' />".html_safe,
							:description  =>	%{<p class='lead slide_item'>...while still in <a href="http://en.wikipedia.org/wiki/Boston" target="blank">Boston</a>, Alin gets involved (as co-founder, lead developer and later <a href="http://en.wikipedia.org/wiki/Chief_technology_officer" target="blank">CTO</a>) in the creation of <a href="http://www.zapoint.com" target="blank">zapoint.com</a>, a <a href="http://en.wikipedia.org/wiki/Startup_company" target="blank">web startup</a> with a bold goal: <u>to quantify people's life achievements</u> (since then there have been some twists and turns so the company's value proposition is now formulated in a slightly different way, but that was the gist of it when it all started).</p>
<p class='lead slide_item'>What followed was 1.5 years of intensive startup work, developing an <a href="http://en.wikipedia.org/wiki/Software_release_life_cycle#Alpha" target="blank">alpha</a> version of the site, getting our first <a href="http://en.wikipedia.org/wiki/Seed_money" target="blank">funding</a> round, hiring our first <a href="http://en.wikipedia.org/wiki/Web_developer" target="blank">developer</a>, building a small development team in <a href="http://en.wikipedia.org/wiki/Romania" target="blank">Romania</a>, going live (everything in <a href="http://rubyonrails.org" target="blank">Rails</a>), getting new funding and expanding the <a href="http://en.wikipedia.org/wiki/Romania" target="blank">Romania</a> team.</p>}.html_safe
						} %>
            
<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 6,
							:title				=>	"<span class='title_light'>Jul 1st</span><span class='slide_title_separator'>,</span> 2008<span class='slide_title_separator'>...</span>".html_safe,
							:picture			=>	"<img src='/assets/kbc.jpg' alt='' class='slide_pic' id='slide_pic_8' />".html_safe,
							:description  =>	%{<p class='lead slide_item'>...no longer fully happy at <a href="http://www.zapoint.com" target="blank">zapoint.com</a> as the company started shifting from its initial idea towards developing browser-based enterprise HR applications, Alin leaves <a href="http://en.wikipedia.org/wiki/Boston" target="blank">Boston</a> and accepts an inhouse technology consultant job in the <a href="http://en.wikipedia.org/wiki/Brussels" target="blank">Brussels</a> headquarters of Belgian financial services firm <a href="http://www.kbc.be" target="blank">KBC</a> (pic of KBC's sprawling Brussels HQ above).</p>
<p class='lead slide_item'>Over the next two years, he does software implementation and development projects in various KBC-owned <a href="http://en.wikipedia.org/wiki/Bank" target="blank">banks</a> in <a href="http://en.wikipedia.org/wiki/Belgium" target="blank">Belgium</a> and <a href="http://en.wikipedia.org/wiki/Central_Europe" target="blank">Central Europe</a>, gets aquainted with the <a href="http://en.wikipedia.org/wiki/Western_Europe" target="blank">Western European</a> <a href="http://en.wikipedia.org/wiki/Enterprise_information_system" target="blank">enterprise technology</a> landscape, works with various <a href="http://en.wikipedia.org/wiki/Information_technology_consulting" target="blank">consulting firms</a> and <a href="http://en.wikipedia.org/wiki/List_of_the_largest_software_companies" target="blank">software vendors</a> and learns how tech projects happen in a <a href="http://en.wikipedia.org/wiki/Bureaucracy" target="blank">big company</a>.</p>}.html_safe
						} %>
            
<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 7,
							:title				=>	"<span class='title_light'>Apr 22nd</span><span class='slide_title_separator'>,</span> 2010<span class='slide_title_separator'>...</span>".html_safe,
							:picture			=>	"<img src='/assets/kbcfp.jpg' alt='' class='slide_pic' id='slide_pic_9' />".html_safe,
							:description  =>	%{<p class='lead slide_item'>...after two years in <a href="http://en.wikipedia.org/wiki/Brussels" target="blank">Brussels</a>, Alin moves to <a href="http://en.wikipedia.org/wiki/London" target="blank">London</a> where he starts working for <a href="http://www.kbcfp.com" target="blank">KBC Financial Products</a> (first floor, building on the right above), a <a href="http://www.kbc.com" target="blank">KBC</a>-owned, <a href="http://en.wikipedia.org/wiki/City_of_London" target="blank">City of London</a>-based <a href="https://en.wikipedia.org/wiki/Investment_banking" target="blank">investment bank</a> with a startup mentality and great focus on technology (but unfortunately no <a href="http://www.ruby-lang.org/en/" target="blank">Ruby</a>, <a href="http://rubyonrails.org" target="blank">Rails</a> or <a href="http://en.wikipedia.org/wiki/OS_X" target="blank">OS X</a>...<a href="http://www.python.org" target="blank">Python</a> seems to be the closest one can get to <a href="http://en.wikipedia.org/wiki/Cool_(aesthetic)" target="blank">coolness</a> in the tech finance world).</p>
<p class='lead slide_item'>While in <a href="http://en.wikipedia.org/wiki/London" target="blank">London</a>, Alin leads a multi-year project implementing new <a href="https://en.wikipedia.org/wiki/Investment_banking#Investment_banking" target="blank">front-office</a>, <a href="https://en.wikipedia.org/wiki/Investment_banking#Back_office" target="blank">back-office</a> and <a href="http://en.wikipedia.org/wiki/Finance" target="blank">finance</a> IT systems for the company's <a href="http://en.wikipedia.org/wiki/Equity_derivative" target="blank">equity derivatives</a> desk.</p>}.html_safe
						} %>
            
<%= render :partial => "carousel_slide", 
						:locals => { 
							:position => 8,
							:title				=>	"2013<span class='slide_title_separator'>...</span>".html_safe,
							:picture			=>	"<img src='/assets/alba2.jpg' alt='' class='slide_pic' id='slide_pic_0_small' /><img src='/assets/hcc.jpg' alt='' class='slide_pic' id='slide_pic_1_small' /><img src='/assets/ase.jpg' alt='' class='slide_pic' id='slide_pic_2_small' /><img src='/assets/budapest.jpg' alt='' class='slide_pic' id='slide_pic_4_small' /><img src='/assets/hult.jpg' alt='' class='slide_pic' id='slide_pic_5_small' /><img src='/assets/zap.png' alt='' class='slide_pic' id='slide_pic_6_small' /><img src='/assets/kbc.jpg' alt='' class='slide_pic' id='slide_pic_8_small' /><img src='/assets/kbcfp.jpg' alt='' class='slide_pic' id='slide_pic_9_small' />".html_safe,
							:description  =>	%{<p class='lead slide_item'>...as <a href="http://www.kbc.be" target="blank">KBC</a> is divesting <a href="http://www.kbcfp.com" target="blank">KBC Financial Products</a> (for financial crisis related reasons), Alin starts looking for a new job.</p>
<p class='lead slide_item'>He creates this online showcase of his career using <a href="http://www.ruby-lang.org/en/" target="blank">ruby-1.9.3-p362</a>, <a href="http://rubyonrails.org" target="blank">rails 3.2.12</a>, <a href="http://coffeescript.org" target="blank">coffeescript</a>, a (customized) <a href="http://twitter.github.com/bootstrap/" target="blank">twitter bootstrap</a> CSS responsive theme using the <a href="https://github.com/thomas-mcdonald/bootstrap-sass" target="blank">boostrap-sass gem</a> , the <a href="https://github.com/apneadiving/Google-Maps-for-Rails" target="blank">Gmaps4Rails gem</a> for google maps setup, the ruby <a href="https://github.com/pengwynn/linkedin" target="blank">LinkedIn Gem</a> for LinkedIn network updates and google maps marker icons from <a href="http://mapicons.nicolasmollet.com/" target="blank">mapicons.nicolasmollet.com</a>.</p>
<p class='lead slide_item'><a href="#" id="close_presentation">>> Close lifestory...</a></p>}.html_safe
						} %>

	  </div>
	  		
		<%= link_to "‹".html_safe, "#myCarousel", :id => "left_arrow_wide", :class => "left carousel-control btn-l2 pres-ctrl", "data-slide" => "prev" %>			
		<%= link_to "›".html_safe, "#myCarousel", :id => "right_arrow_wide", :class => "right carousel-control btn-r pres-ctrl", "data-slide" => "next" %>
		  		  
	</div>
	<!--  Carousel - consult the Twitter Bootstrap docs at
	      http://twitter.github.com/bootstrap/javascript.html#carousel -->

</div>