
<div id="carousel-container">

	<!-- /.carousel -->	
	
	<div id="myCarousel" class="carousel slide">
	  
	  <%= link_to "close lifestory...".html_safe, "#", :class => "close_presentation" %>
		
		<div id="arrows_narrow" class="carousel-controls-narrow">
			<%= link_to "‹".html_safe, "#myCarousel", :class => "left carousel-control btn-l btn-l2 pres-ctrl-narrow", "data-slide" => "prev" %>			
			<%= link_to "›".html_safe, "#myCarousel", :class => "right carousel-control btn-r pres-ctrl-narrow", "data-slide" => "next" %>
		</div>
		
	  <div class="carousel-inner">

			<%= render :partial => "carousel_slide", 
									:locals => { 
										:position => 0,
										:title				=>	"<span class='title_light'>June 7</span><span class='title_light'>,</span> 1978".html_safe,
										:picture			=>	"".html_safe,
										:description  =>	%{<p class='lead slide_item'>Prince2 certified IT Project Manager / Business Analyst with proven track record of delivery in international technology transformation programmes in investment, commercial and retail banking. Previous technology startup experience. <abbr title='Master of Business Administration'>MBA</abbr> and MSc in IT Management degrees.</p>
<p class='lead slide_item'>Some message here...</p>}.html_safe
									} %>

			<%= render :partial => "carousel_slide", 
									:locals => { 
										:position => 1,
										:title				=>	"<span class='title_light'>June 7</span><span class='title_light'>,</span> 1978".html_safe,
										:picture			=>	"<div class='slider_pic'></div>".html_safe,
										:description  =>	%{<p class='lead slide_item'>Prince2 certified IT Project Manager / Business Analyst with proven track record of delivery in international technology transformation programmes in investment, commercial and retail banking. Previous technology startup experience. <abbr title='Master of Business Administration'>MBA</abbr> and MSc in IT Management degrees.</p>}.html_safe
									} %>

			<%= render :partial => "carousel_slide", 
									:locals => {
										:position => 2,
										:title				=>	"<span class='title_light'>June 7</span><span class='title_light'>,</span> 1978".html_safe,
										:picture			=>	"<img src='http://media.rtv.net/image/201203/full/academia_de_studii_economice_ase_13485200.jpg' alt='' class='slide_pic' /> <img src='http://media.rtv.net/image/201203/full/academia_de_studii_economice_ase_13485200.jpg' alt='' class='slide_pic' />".html_safe,
										:description  =>	%{<p class='lead slide_item'>Prince2 certified IT Project Manager / Business Analyst with proven track record of delivery in international technology transformation programmes in investment, commercial and retail banking. Previous technology startup experience. <abbr title='Master of Business Administration'>MBA</abbr> and MSc in IT Management degrees.</p>}.html_safe
									} %>

	  </div>
	  		
		<%= link_to "‹".html_safe, "#myCarousel", :id => "left_arrow_wide", :class => "left carousel-control btn-l2 pres-ctrl", "data-slide" => "prev" %>			
		<%= link_to "›".html_safe, "#myCarousel", :id => "right_arrow_wide", :class => "right carousel-control btn-r pres-ctrl", "data-slide" => "next" %>
		  		  
	</div>
	<!--  Carousel - consult the Twitter Bootstrap docs at
	      http://twitter.github.com/bootstrap/javascript.html#carousel -->

</div>