<div class="record">
  <h3><%= %{<span id="#{SecureRandom.uuid}" class="record_job_title link_sim" data-info="#{record.job_title.title_long.downcase}" data-flash-text="#{record.job_title.title_long}">}.html_safe + record.job_title.title_long + %{</span>}.html_safe -%><span class="record_separator">&#8226;</span><%= %{<span id="#{SecureRandom.uuid}" class="company_name" data-info="#{record.company.name.downcase}" data-flash-text="#{record.company.name}">}.html_safe + record.company.name + %{</span>}.html_safe -%><span class="record_separator">&#8226;</span><% record.locations.each do |location| %><%= link_to location.city + ", " + location.country, "#", :id => SecureRandom.uuid, :class => "location_head", "data-info" => "#{location.city.downcase}", "data-flash-text" => "#{location.city + ", " + location.country}" unless location.region? -%><%= link_to location.city + ", " + location.region + ", " + location.country, "#", :id => SecureRandom.uuid, :class => "location_head", "data-info" => "#{location.city.downcase}", "data-flash-text" => "#{location.city + ", " + location.region + ", " + location.country}" if location.region? -%><%= " / " unless record.locations.last == location -%><% end %><span class="record_separator">&#8226;</span><span class="record_dates"><%= date_format record.start_date -%> - <%= date_format record.end_date unless record.is_current ==1 -%><%= "Present" if record.is_current ==1 -%></h3>

  <ul class="record_description_container">
    <% record.descriptions.each do |description| %>
      <li><%= description.description_long %></li>
    <% end %>
  </ul>
  
  <div class="record_industries">
    Industry: 
    <% record.company.industries.each do |industry| %><%= %{<span id="#{SecureRandom.uuid}" class="industry link_sim" data-info="#{industry.name.downcase}" data-flash-text="#{industry.name.capitalize}">#{industry.name.capitalize}</span><span class="industry_separator">|</span>}.html_safe -%><% if record.company.industries.last == industry %><span class="industry_employees"><%= record.company.min_employees -%><%= "+" if record.company.max_employees.nil? %><%= " - " + record.company.max_employees.to_s unless record.company.max_employees.nil? %> employees</span><% end %><% end %>
  </div>
  
  <div class="record_tags">
    Tags: <%= raw order_tags(record.skill_list).map { |t| link_to t, "#", :id => SecureRandom.uuid, :class => "tag_item", "data-info" => t.downcase, "data-flash-text" => t }.join(' &#8226; ') %>
  </div>
</div>