<div class="record">    
  <h3><span class="record_job_title"><%= school.degree -%></span><span class="record_separator">&#8226;</span><%= school.name -%><span class="record_separator">&#8226;</span><% 
  school.locations.each do |location| %>
    <%= link_to location.city + ", " + location.country, "#" unless location.region? -%><%= link_to location.city + ", " + location.region + ", " + location.country, "#" if location.region? -%><%= " / " unless school.locations.last == location -%>
  <% end 
  %><span class="record_separator">&#8226;</span><span class="record_dates"><%= date_format school.end_date -%></h3>

  <div class="record_description_container">
    <% school.descriptions.each do |description| %>
      <p class="record_description">&#8226; <%= description.description_long %></p>
    <% end %>
  </div>
  
  <div class="record_tags">
    Tags: <%= raw order_tags(school.teaching_list).map { |t| link_to t, "#", :class => "tag_item", "data-tag" => t }.join(' &#8226; ') %>
  </div>
</div>