<div class="side_item_box">
  <p class="side_item_container side_anl">Total work experience</p>
<p class="side_info">(<%= calculate_duration @records %>)</p>  
</div>

<div class="side_item_box">
  <p class="side_item_container side_anl">Total work experience</p>
  <p class="side_info">(<%= compute_average_duration(@records) -%>)</p>  
</div>

<div class="side_item_box">
  <p class="side_item_container side_anl">Number of jobs to date</p>
  <p class="side_info">(<%= pluralize @records.count, 'job' -%>)</p>  
</div>

<div class="side_item_box">
  <p class="side_item_container side_anl">Total undergraduate &amp; graduate education</p>
  <p class="side_info">(<%= calculate_duration @education_records %>)</p>  
</div>

<div class="side_item_box">
  <p class="side_item_container side_anl">Total tag count</p>
  <p class="side_info">(<%= pluralize @tags.count, 'tag' %>)</p>  
</div>

<div class="side_item_box">
  <p class="side_item_container side_anl">Has worked for...</p>
  <p class="side_info">...<span id="side_s_c" class="ca_small_item"><%= pluralize @companies.count, 'company' -%></span><span class="ca_separator">&#8226;</span>in <span id="side_s_i" class="ca_small_item"><%= pluralize @industries.count, 'industry' -%></span><span class="ca_separator">&#8226;</span>holding <span id="side_s_jt" class="ca_small_item"><%= pluralize @job_titles.count, 'job title' -%></span><span class="ca_separator">&#8226;</span>and having been based in <span id="side_s_co" class="ca_small_item"><%= pluralize @locations.group_by(&:country).count, "country" -%>.</span></p>  
</div>

