<div class="side_item_box">
  <p class="side_item_container"><%= link_to "Total work experience", "#", :id => "side_twe", :class => "side_item" -%></p>
<p class="side_info">(8.4 years)</p>  
</div>

<div class="side_item_box">
  <p class="side_item_container"><%= link_to "Average job length", "#", :id => "side_ajl", :class => "side_item" -%></p>
  <p class="side_info">(2.3 years)</p>  
</div>

<div class="side_item_box">
  <p class="side_item_container"><%= link_to "Number of jobs to date", "#", :id => "side_njd", :class => "side_item" -%></p>
  <p class="side_info">(6 jobs)</p>  
</div>

<div class="side_item_box">
  <p class="side_item_container"><%= link_to "Total education", "#", :id => "side_te", :class => "side_item" -%></p>
  <p class="side_info">(6.1 years)</p>  
</div>

<div class="side_item_box">
  <p class="side_item_container"><%= link_to "Total tag count", "#", :id => "side_ttc", :class => "side_item" -%></p>
  <p class="side_info">(56 tags)</p>  
</div>

<div class="side_item_box">
  <p class="side_item_container"><%= link_to "Has worked for", "#", :id => "side_hwf", :class => "side_item" -%></p>
  <p class="side_info">(<span id="side_s_c" class="ca_small_item">6 companies</span><span class="ca_separator">&#8226;</span><span id="side_s_i" class="ca_small_item">in 11 industries</span><span class="ca_separator">&#8226;</span><span id="side_s_jt" class="ca_small_item">holding 6 job titles</span><span class="ca_separator">&#8226;</span><span id="side_s_co" class="ca_small_item">and being based in 5 different countries)</span></p>  
</div>

