<div class="side_item_box side_linked">
  <% unless linkedin_record.picture_url.nil? %>
    <div class="side_left">
      <%= image_tag linkedin_record.picture_url, :class => "side_pic" %>
    </div>
  <% end %>
  <div class="side_right">
    <% unless linkedin_record.first_name.nil? || linkedin_record.last_name.nil? %>
      <p class="side_item_container"><%= link_to linkedin_record.first_name + " " + linkedin_record.last_name, linkedin_record.url, :class => "side_item", :target => "blank" %></p>
    <% end %>
    <% unless linkedin_record.headline.nil? %>
      <p class="side_subtitle"><%= truncate linkedin_record.headline, :length => 28, :omission => "..." %></p>
    <% end %>
    <% unless linkedin_record.comment.nil? %>
      <p class="side_info"><%= truncate linkedin_record.comment, :length => 120, :omission => "..." %></p>
      <% unless linkedin_record.comment_short_url.nil? %>
        <p class="side_info"><%= link_to linkedin_record.comment_short_url, linkedin_record.comment_short_url, :class => "comment_link", :target => "blank" %></p>
      <% end %>
    <% end %>
  </div>
</div>



