<h4 class="locations_title">Locations<span class="title_separator_light">:</span></h4>
<div class="sidebar_sections">
  <div class="side_locations_tags">
    <%= render :partial => "side_locations", :collection => @locations, :as => :location %>
  </div>
     
  <%= gmaps(:map_options  => {:raw               => "{
                                                        disableDefaultUI: true, 
                                                        panControl: false, 
                                                        zoomControl: true,
                                                        mapTypeControl: true,
                                                        scaleControl: false,
                                                        streetViewControl: true,
                                                        streetViewControlOptions: {
                                                            position: google.maps.ControlPosition.RIGHT_BOTTOM
                                                        },
                                                        overviewMapControl: false,
                                                        mapTypeId: google.maps.MapTypeId.ROADMAP}",
                              :auto_adjust       => true, 
                              :auto_zoom         => false,
                              :zoom              => 1,
                              :container_class   => "google_map_container", 
                              :id                => "map_canvas1", 
                              :class             => "map_canvas_small" },
            :last_map     => false,
            :markers      => {:data              => @g_locations,
                              :options           => { :do_clustering => true, :clusterer_gridSize => 50} }) %>
                                
  <p class="side_item_container side_link">(<%= link_to "view larger map", "#", :id => "view_large_map_btn", :class => "side_item side_title" -%>)</p>
</div>

<h4>Job titles<span class="title_separator_light">:</span></h4>
<div class="sidebar_sections">
  <%= render :partial => "side_titles", :collection => @job_titles, :as => :job_title %>
</div>

<h4>Companies<span class="title_separator_light">:</span></h4>
<div class="sidebar_sections">
  <%= render :partial => "side_companies", :collection => @companies, :as => :company %>
</div>

<h4>Industries<span class="title_separator_light">:</span></h4>
<div class="sidebar_sections">
  <%= render :partial => "side_industries", :collection => @industries, :as => :industry %>
</div>

<h4>Schools<span class="title_separator_light">:</span></h4>
<div class="sidebar_sections">
  <%= render :partial => "side_schools", :collection => @schools, :as => :school %>
</div>

<h4>Career<br />Analytics<span class="title_separator_light">:</span></h4>
<div class="sidebar_sections">
  <%= render 'side_analytics' %>
</div>  

<% unless @linkedin_records.nil? %>
  <h4>LinkedIn<br />Network<br />Updates<span class="title_separator_light">:</span></h4>
  <div class="sidebar_sections">
    <%= render :partial => "side_linkedin", :collection => @linkedin_records, :as => :linkedin_record %>
  </div>
<% end %>
