<div class="controls noPrint">
  <%= link_to "detailed view", "#", :class => "control control_active", :id => "detailed_view" %>
	<%= link_to "compact view", "#", :class => "control", :id => "compact_view" %>
</div>
<div class="section">
	<h1>Work experience<span class="title_separator_light">:</span></h1>
  <%= render :partial => "record", :collection => @records, :as => :record %>
</div>

<div class="section">
	<h1>Education<span class="title_separator_light">:</span></h1>
  <%= render :partial => "school", :collection => @education_records, :as => :education_record %>
</div>

<div class="section">
	<h1>Tags<span class="title_separator_light">:</span></h1>
	<div class="controls noPrint">
    <%= link_to "Show all tags", "#", :class => "control control_active", :id => "all_tags" %>
  	<%= link_to "Show top tags", "#", :class => "control", :id => "top_tags" %>
  </div>
  <div class="tag_cloud">
  	<% tag_cloud @tags, %w{s m l xl xxl} do |t, css_class| %>
    	<%= link_to t.name, "#", :id => SecureRandom.uuid, class: "tag_cloud_item " + css_class, "data-count" => t.count, "data-min-count" => @min_tag_count, "data-info" => t.name.downcase, "data-flash-text" => t.name -%>
    	<%= "<span class='tag_cloud_separator'>&#8226;</span>".html_safe unless @tags.last == t -%>
  	<% end %>
  </div>
</div>

<div class="section section_compact">
	<h1>Languages<span class="title_separator_light">:</span></h1>
	<div id="flags" class="flags_container">
    <%= image_tag "flag_gbus.png", :id => "en_flag", :class => "flags_pic", "data-language" => "English:", "data-level" => " fluent." %>
  	<%= image_tag "flag_fr.png", :id => "fr_flag", :class => "flags_pic", "data-language" => "French:", "data-level" => " intermediate." %>
  	<%= image_tag "flag_ro.png", :id => "ro_flag", :class => "flags_pic", "data-language" => "Romanian:", "data-level" => " native speaker." %>
  	<%= image_tag "flag_nl.png", :id => "nl_flag", :class => "flags_pic", "data-language" => "Dutch:", "data-level" => " basic comprehension." %>
  </div>
	<p id="language_infobox" class="l_infobox"><span id="lng" class="lang"></span><span id="lvl"></span></p>
</div>

<div class="section section_compact">
	<h1>Interests<span class="title_separator_light">:</span></h1>
	<div id="interests" class="interests_container">
	  <%= image_tag "interests_photo.png", :id => "interests_photo", :class => "interests_pic", "data-info" => "Travel and landscape photography." %>
  	<%= image_tag "interests_hiking.png", :id => "interests_hiking", :class => "interests_pic", "data-info" => "Hiking." %>
  	<%= image_tag "interests_gps.png", :id => "interests_gps", :class => "interests_pic", "data-info" => "Outdoor GPS devices and geocaching." %>
  	<%= image_tag "interests_golf.png", :id => "interests_golf", :class => "interests_pic", "data-info" => "Golf." %>
  	<%= image_tag "interests_globe.png", :id => "interests_world", :class => "interests_pic", "data-info" => "Armchair world politics." %>
	</div>
	<p id="interests_infobox" class="i_infobox"></p>
</div>